.textBox {
	height: 100vh;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
	position: relative;
	left: 30%;
    text-align: center;
}
.credits-text {
    display: block;
	font-family: "Inconsolata", monospace;
	font-size: 2.5rem;
	font-weight: 600;
	font-style: italic;
	text-align: center;
    letter-spacing: 1.2px;
}
.credits-header {
	display: block;
	position: absolute;
	top: 10%;
    font-size: 4rem;
    font-family: "Inconsolata", monospace;
}
.college-text {
    position: relative;
    top: 5%;
    font-family: "Inconsolata", monospace;
	font-size: 2.5rem;
	font-weight: 600;
	font-style: italic;
	text-align: center;
    letter-spacing: 1.2px;

}