.money-box {
	height: 100vh;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	left: 25%;
	text-align: center;
}

.money-header {
	position: relative;
	bottom: 30px;
	font-size: 2.5rem;
}

.slider {
	position: relative;
	left: 23.5%;
	appearance: none;
	width: 50%;
	height: 15px;
	border-radius: 5px;
	background: linear-gradient(to right, #fefdfd 50%, #000000 50%);
	outline: none;
	opacity: 0.5;
	transition: opacity 0.2s;
	
}
.slider:hover{
	opacity: 1;
}

.money-container {
	position: relative;
	top: 50%;
	width: 100%;
}

.money-text{
	position: absolute;
	font-size: 2.7rem;
	top: 50px;
	right: 45%;
	font-family: 600;
}

.header-money-text{
	font-size: 2.5rem;
	position: absolute;
	bottom: 200px;
	left: 20%;
}

.money-selected{
	position: absolute;
	top: 100px;
	left: 37%;
}

.pop-up-box{
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	height: 600px;
	width: 1000px;
	top: 10%;
	left: 20%;
	padding: 20px;
	background-color: rgb(11, 11, 11);
	text-align: center;
	border-radius: 5px;

}

.yesBtn, .noBtn{
	position: relative;
	top: 30%;
	padding: 30px 80px;
	margin: 8%;
}

.noBtn{
	background-color: rgb(189, 13, 13);
}

.noBtn:hover{
	background-color: red;
}



.confirm-money-text{
	position: absolute;
	color: white;
	font-size: 3rem;
	top: 5%;

}