.buttonBox {
	position: absolute;
	height: 100vh;
	width: 50%;
	left: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.theme-button,
.music-button {
	position: relative;
	top: 35px;
	padding: 35px 60px;
	margin: 5%;
}
.settings-header{
	position: relative;
	bottom: 60%;
	font-size: 4rem;
	font-family: 600;
}